
.screen-one{
  min-height: 100vh;
  h1{
    text-align: center;
    font-size: 5vw;
    padding-top: 100px;
    margin: 0;
    color: #fff;
  }
  h2{
    max-width: 500px;
    font-size: 3vw;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    color: #fff;
  }
}
.mySwiper{
  height: 100vh;
}
.slider{
  &-title{
    color: #fff;
    font-size: 3vw;
    margin-bottom: 50px;
  }
  &-img{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
      max-width: 1000px;
    }
  }
}